/*texte en blanc page d'accueil*/
.white-h1{
  color: white!important;
  text-align: center;
}

.white-p{
  color: white!important;
  text-align: center;
}

/*polices*/

.wishlist{
  font-family: 'Delicious Handrawn', cursive;  
  text-transform: uppercase;
} 

*{
  font-family: 'Titillium Web', sans-serif;
} 

/*pas de marges sur le body*/
body{
  margin:0;
  height: 100vh;
} 

/*Section entre la barre de navigation et le footer*/
.main-content{
  min-height: calc(100vh - 136px);
}

/*N'apparait que sur la page d'accueil à priori*/
.hero{
  height: 300px;
  background-image: url('https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}

/*Pour l'image de fond des sections ou des divs*/
.smallWallpaper{
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center; 
}

.smallConnexion{
  background-image: url("https://images.unsplash.com/photo-1577042939454-8b29d442b402?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
}

.white-opacity{
  background-color: rgba(255, 255, 255, 0.5);
}
.white-gradient{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5999649859943977) 61%, rgba(255,255,255,0) 100%);}

.black-opacity{
  background-color: rgba(0, 0, 0, 0.25);
}

/*Pour faire un fond avec une image*/
.wallpaper{
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  width: 100%;
  min-height: calc(100vh - 136px);  
  background-position: center;
  align-items: center;
  justify-content: center;
}

/*Le fond de la page events*/
.events{
  background-image: url('https://images.unsplash.com/photo-1510284876186-b1a84b94418f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}
/*Le fond de la page Login et de la page SignIn*/
.connexion{
  background-image: url('https://images.unsplash.com/photo-1608798756170-5ed64d16a051?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80');
}

/*Le fond de la page Login et de la page SignIn*/
.oneEvent{
  background-image: url('https://images.unsplash.com/photo-1602536643790-98b54146fea1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

/*Le font de la page d'un événement*/
.giftingEvent{
  background-image: url('https://images.unsplash.com/photo-1701600713610-0f724c65168d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.wallpaper-top{
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  width: 100%;
  background-position: top;
  align-items: center;
  justify-content: center;
}

.height{
  min-height: calc(100vh - 136px);
}

/*L'ombre sur la barre de navigation*/
.main-nav{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

/*Le logo dans la barre de navigation*/
.image-nav{
  height: 50px; 
}

.square-image{
/*   aspect-ratio: 1 / 1;
 */  max-width: 100%;
  object-fit: cover;
 }

.giftContext{
  margin:0;
  color: black;
}

.bold{
  font-weight: bold;
}

.logo-size{
  width : 100%;
}

/*Les media-queries pour les cas où Bootstrap est insuffisant*/
.half{
  width: 50%;
}

@media only screen and (max-width: 992px){
  .half{
    width: 100%;
  }
}

@media only screen and (min-width:768px) and (max-width: 992px){
  .half{
    width: 75%;
  }
}

/*Pour ajuster la taille des cartes Bootstrap*/
.card-width{
  max-width: 20rem;
  min-width: 14rem;
 }

.fixed-width{
  width: 20rem;
}

 .red-btn{
  background-color: #A23E34;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
 }

/*cards bootstrap*/
.card{
  border: 0!important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
}

.card-header{
  border: 0!important;
}

/*Pour empêcher de colorer en bleu les accordéon bootstrap*/
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
}

button.accordion-button:focus{
  box-shadow: inherit;
}

/*icône*/
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*icône de cadeau avant le nom d'un événement*/
.eventName::before {
  font: var(--fa-font-solid);
  content: "\f06b  ";
}

/*icône "plus" après ajouter*/
.add::after {
  font: var(--fa-font-solid);
  content: " \2b";
}


